@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(../fontes/PassionOne-Bold.ttf);
    font-weight: normal;
}

@font-face {
    font-family: corpo;
    src: url(../fontes/Sriracha-Regular.ttf);
    font-weight: normal;
}

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    font-size: 4vw;
    font-family: titulo;
    font-weight: normal;
    font-variant: small-caps;
    padding-top: 50px;
}

header p{
    padding-bottom: 50px;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(0, 247, 255);
}

section{
    font-family: corpo;
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.especial p{
    display: inline-block;
    background-color: rgba(5, 0, 0, 0.457);
    padding: 10px;
}

 section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
 }
 section.especial{
    color: white;
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 1px black;
 }

 #img1{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
 }

 #img2{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
 }
 
 footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px;
    text-align: center;
 }